failed_discovery_01/cpuinfo.txt -whitespace
failed_discovery_01/test.stdout -whitespace
comparator_incomplete_discovery_01/cpuinfo.txt -whitespace
comparator_incomplete_discovery_01/test.stdout -whitespace
